.container-full
    H1.page-message Some works of mine.
    section.content.content--cyan.content--skewed-right
        #portfolio
            #image-gallery
                .thumb-nail
                    img(src="images/passkeep-thumbnail.png")
                    .shade
                        .project-title.break
                            a(ui-sref="portfolio.item({projectName: 'Passkeep'})") Passkeep
                        a.hover.hover--green(ui-sref="portfolio.item({projectName: 'Passkeep'})")
                .thumb-nail
                    img(src="images/eqr-thumbnail.png")
                    .shade
                        .project-title
                            | E?R
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/bmlm-thumbnail.png")
                    .shade
                        .project-title
                            | BMLM
                        .hover.hover--red
                .thumb-nail
                    img(src="images/learncast-thumbnail.png")
                    .shade
                        .project-title
                            | Learncast
                        .hover.hover--blue
                .thumb-nail
                    img(src="images/social-ribbons-thumbnail.png")
                    .shade
                        .project-title
                            | Social Ribbons
                        .hover.hover--red
                .thumb-nail
                    img(src="images/flip-pane-thumbnail.png")
                    .shade
                        .project-title
                            | Flip Pane
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/cyoh-thumbnail.png")
                    .shade
                        .project-title
                            | CYOH
                        .hover.hover--red
                .thumb-nail
                    img(src="images/phs-thumbnail.png")
                    .shade
                        .project-title
                            | PHS
                        .hover.hover--blue
                .thumb-nail
                    img(src="images/movie-seating-thumbnail.png")
                    .shade
                        .project-title
                            | Movie Seating
                        .hover.hover--green
             
