.container-full
    H1.page-message Some works of mine.
    section.content.content--cyan.content--skewed-right
        #portfolio
            #image-gallery
                .thumb-nail
                    img(src="images/passkeepBig.png")
                    .shade
                        .project-title.break.mdi.mdi-lock
                            a(ui-sref="portfolio.item({projectName: 'Passkeep'})") Passkeep
                        a.hover.hover--green(ui-sref="portfolio.item({projectName: 'Passkeep'})")
                .thumb-nail
                    img(src="images/EQRBig.png")
                    .shade
                        .project-title.break.mdi.mdi-food-apple
                            | E?R
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/passkeepBig.png")
                    .shade
                        .project-title.break.mdi.mdi-food-apple
                            | E?R
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/EQRBig.png")
                    .shade
                        .project-title.break.mdi.mdi-food-apple
                            | E?R
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/passkeepBig.png")
                    .shade
                        .project-title.break.mdi.mdi-food-apple
                            | E?R
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/EQRBig.png")
                    .shade
                        .project-title.break.mdi.mdi-food-apple
                            | E?R
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/passkeepBig.png")
                    .shade
                        .project-title.break.mdi.mdi-food-apple
                            | E?R
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/EQRBig.png")
                    .shade
                        .project-title.break.mdi.mdi-food-apple
                            | E?R
                        .hover.hover--amber
                .thumb-nail
                    img(src="images/passkeepBig.png")
                    .shade
                        .project-title.break.mdi.mdi-food-apple
                            | E?R
                        .hover.hover--amber
